.textdiv{
    text-align: left;
    background-color: blueviolet;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 20%;
    border-radius: 5%;
    border-color: green;
    border-width: 20px;

}
p{
    color: azure;
}
.imagdiv{
    text-align: center;
    margin-bottom: 5%;
}
.images{
    width: 200px;
    height: 200px;
}
h2{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: aliceblue;
}