  
 ul.header li {
   display: inline;
   list-style-type: none;
   margin: 0;
 }

 ul.header {
   background-color: #111;
   padding: 0;
 }
 
 .iframes{
  width:44%;
  height: 100%;
 }
 ul.header li a {
   color: #FFF;
   font-weight: bold;
   text-decoration: none;
   padding: 20px;
   display: inline-block;
 }

 .content {
   background-color:#F4ECF7;
   padding: 20px;
 }

 .content h2 {
   padding: 0;
   margin: 0;
 }

 .content li {
   margin-bottom: 10px;
 }

 .active {
   background-color: #0099FF;
 }



.containers{
  position: relative;
 
  overflow: scroll;
  padding-top: 62.5%; /* 8:5 Aspect Ratio */
  
  
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
   margin-left: 35%;
} 
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  border: 0;
  margin-left:'25%';
}

 .image {
   width: 70%;
   height: 70%;
   margin-left: 13%;
   margin-right: 10%;
 }
.container {
  width: 100%;
  height:  auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  margin-top:25%;
 
}
.questionbox{
  
   
  border-radius: 15px;
 width: 55%;

  
 margin-right: 25%;
  
}
/* add responsive media quaries*/

  @media screen and (max-width:1200px) {
    .box{
      width: 40%;
    }
    .container{
      margin-top: 50%;
    }
    .resp-container {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
       margin-left: 22%;
    } 
    .resp-iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
      border: 0;
      margin-left:'25%';
    }
  } 
  @media screen and (max-width:600px) {
    .box{
      width: 90%;
      box-shadow: #111;
      
    }
    .container{
      margin-top: 120%;
    }
    .resp-container {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
       margin-left: 0;
       margin-right: 0;
       
    } 
    .resp-iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      margin-left:'25%';
    }
    
.questionbox{
  background-color: #0099FF;
  box-shadow: 5px 5px 5px 5px green;
  border-radius: 15px;
  width: 90%;

  margin-left: 5%;
 margin-right: 7%;
  
}
    
  }


#slider{
  width:1100px;
  margin-left: 15%;
  
}

.questionbox{
   background-color:pink;
   width:80%;
   margin-left:10%;
   margin-right:5%;
}


#intro{
  margin-top:1%;
  width:90%;
  height:800px;

  margin-left: 5%;
   
  
  border-radius: 25px;
  background-image: url('../src//images/2581479.jpg');
  background-repeat: no-repeat;
  background-size: 1400px 800px;
 
}


.box {
  width: 250px;
  
  margin: 20px;
  box-sizing: border-box;
  font-size: 50px;
  padding: 50px; 
  
  background: rgba( 0, 0, 0, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16.5px );
-webkit-backdrop-filter: blur( 16.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  
}

.box:hover{
  transform:scale(1.1); 
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

 
button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

 

.prequestion{
  margin-left: 10%;
  width: 70px;
  background-color: #0099FF;
  border: none;
  
}
.prequestion:hover{
  color: #111;
}

.optin{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4%;
}

.nextquestion{
  margin-left: 60%;
  width: 80px;
  background-color: #0099FF;
  border: none;
}




@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}